body {
    margin: auto;
    background-image: url("assets/bg.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}
